<section>

  <div class="util">
  
    <div class="buscar">
      <mat-form-field >
        <mat-label>Buscar</mat-label>
        <input 
        matInput
        #message maxlength="256" 
        placeholder="Ex. Golf..."
        [formControl]="searchControl" 
        (ngModelChange)="getCarros(searchControl.value)"
        
        >
      </mat-form-field>
        <button 
      *ngIf="searchControl.value != ''"
        mat-mini-fab matTooltip="Primary" 
        color="primary" 
        aria-label="Example mini fab with a heart icon"
        (click)="searchControl.setValue('')"
        >
          <mat-icon>clear</mat-icon>
        </button>

    </div>
    <div class="filtro">
       <button mat-button [matMenuTriggerFor]="menu">Ordenar<mat-icon>sort</mat-icon></button>
       <mat-menu #menu="matMenu">
       <button mat-menu-item (click)="sortByValor('asc')">Preço crescente</button>
       <button mat-menu-item (click)="sortByValorDecrescente()">Preço decrescente</button>
       <button mat-menu-item (click)="sortByKM('asc')">Menor KM</button>
       </mat-menu>
    </div> 
  
  </div>
  
  <div class="carros-container">
    <ul class="carros-list">
      <li class="carro-item" *ngFor="let carro of carros">
        <div class="carro-image">
          <img class="foto" [src]="carro.foto" alt="Foto do Carro">
        </div>
        <div class="carro-info">
          <p><strong>Marca:</strong> {{ carro.marca }}</p>
          <p><strong>Modelo:</strong> {{ carro.modelo }}</p>
          <p><strong>Ano:</strong> {{ carro.ano }}</p>
          <p><strong>Versão:</strong> {{ carro.versao }}</p>
          <p><strong>Km:</strong> {{ carro.km }}</p>
          <p><strong>Detalhes:</strong> {{ carro.detalhes }}</p>
          <p><strong>Valor:</strong> {{ carro.valor | currency:'BRL' }}</p>
          <button mat-flat-button color="primary"
          [disabled]="!carro.disponivel"
          
          routerLink="/login"
          > 
            {{ carro.disponivel ? 'Reservar': 'Reservado'}} </button>
        </div>
      </li>
    </ul>
</div>
  
</section>





